td {
    border: 5px solid blue;
    background-color: cyan;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
}





}